#root {
  margin: auto auto;
  padding: 5rem 0rem 0rem 0rem;
  text-align: left;
  background-color: #0f1724;
}

/* This is a hacky way to ignore the gap on the right  */
html, body {
  overflow-x: hidden
}